
html{
    scroll-behavior: smooth;
}
.logo i {
    color: var(--darkOragneColor) !important;
}
.logo label{
    color: var(--oragneColor) !important;
}
*{
    margin:0px;
    padding: 0px;
   /*  box-sizing: border-box; */
}
header a{
    text-decoration: none;
    color: black;
}
header{
    background-color: #555555;
    background-image: linear-gradient(to top left,gray,black);
    box-shadow: black 4px 6px 10px;
    height: 250px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:  0px 0px 20px 20px;
}
.logo{
    
    font-size: 40px;
    line-height: 90px;
    font-weight: bolder;
    margin-left: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: var(--shadedOrange);
    height:100px;
    font-size: 30px;
    /*     position:absolute; */
    /* top:70px; */
    width:100%;
    
}
nav #chk, .typ{
    display: none;
}

.navItems{
    color: ivory;
    font-weight: bold;
    float: right;
    display: flex;
    column-gap: 10px;
    height: 100%;

}
.myNavitems{
    display: flex;
    align-items: center;
    cursor:pointer;
    padding: 0px 10px;
    height: 94%;
    user-select: none;
    transition: 0.1s;
}

.myNavitems:hover{
/*     background-color: aquamarine;
    border-radius: 5px; */
    border-bottom: solid 3px black;
    border-top: solid 3px transparent;
}

.headerText{
    background-color: rgba(255, 255, 255, 0.269);
    margin-top:140px;
    color:rgb(0, 0, 0);
    text-align: center;

}
.headerText #bsmlh{
    font-size: 30px;
    font-weight:900;
}
.headerText #aya{
    font-size: 60px;
    font-weight: bolder;
}
@media screen and (max-width: 770px) {
    .logo{
    
        font-size:10vw;
        line-height: 90px;
        font-weight: bolder;
        margin-left: 3vw;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    nav div{
        transition: all 0.5s;
    }
    nav{
        background-color: var(--darkOragneColor);
        font-size: 30px;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }
    nav .typ{
        display: inline-block;
        transform: scale(2) translate(-10px,46px);
        z-index: 4;
    }
    
    .navItems{
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        align-items: center;
        z-index: 2;
        background-color: var(--oragneColor);
        right:100%;
        transform:translateY(-60px);
        transition:all 0.3s ease-out;

        
    }
    .myNavitems{
        height: 50px;
        margin-bottom:20px ;
        transform: translateY(40px);
    }
    #chk:checked ~label{
        transform: none;
    position: fixed;
    scale: 2.1;
    right: 19px;
    top: 104px;
    }
    #chk:checked ~div {
        right:0;
    }
    
    .myNavitems:hover{

            border-bottom: none;
            border-top: none;
            background-color: var(--darkOragneColor);
        }
        @keyframes slideLeft{
            from{transform: translateX(-100%)}
        }
    
}
main{
    margin-top:200px;
}
.ABOUTME{
    display: flex;
    flex-wrap: wrap;
    margin-left: 11vw;
}
.img{
    border: solid 15px var(--oragneColor);
    
    border-radius: 10px;
}
.img img{
    width: 500px;
    transform: translate(20px, -15px) scale(1.02);
    border-radius: 10px;
}

.PhotoBack{
    transform: translateX(30px);
}
.ABOUTME P{
    margin-top: 30px;
    color: #555555;
    width: 350px;
    display: inline-block;
    font-size: larger;
}
.date .day,.month{
    color:var(--oragneColor) !important;
}
@media screen and (max-width: 600px) {
    .ABOUTME{
        display: flex;
        flex-wrap: wrap;
        margin-left:1vw;
    }
    .img img{
        width: 270px;

    }
    #readmore{
        margin-top:160px;
        font-size: 16px;
        height:40px;
        width:120px;
        right:-37%;
        
    }
    .headerText #bsmlh{
        font-size: 20px;
        font-weight:900;
    }
    .headerText #aya{
        font-size: 30px;
        font-weight: bolder;
    }
    .ABOUTME P{
        width: 300px;
    }
    header{

        height: 700px;
    }
    .PhotoBack{
        transform: translateX(0px);
    }
}

.WhatEvents h1{
    text-align: center;
    margin: 20px 0px;
    font-size: 50px;
    
}
.WhatEvents h3{
    text-align: center;
    margin-top:2px;
    font-size: 20px;
}
.WhatEvents{

    display: flex;
    flex-direction: column;
    
}
.cont{
    overflow:unset;
}
.myeveCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
} 


.SEC1 {
    display: flex;
    flex-direction: column;
    justify-content:start ;
    flex-shrink: 0;
    row-gap: 30px;
}
.ismalmicI{
    display: flex;
    justify-content:space-around;
    overflow: hidden;
}
.ismalmicI .events{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SEC1 .ismalmicI{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    box-shadow: -2px 2px 13px black;
    width:600px;
    height: 180px;
}
.SEC1 .ismalmicI #ntwo{
    display: none;
}
.SEC1 img{
    width:270px;
    height: 180px;
    transition: 0.5s;
}

.SEC1 img:hover{
    transform: scale(1.3);
    filter: brightness(50%);
    
}

.ismalmicI:hover img{
    transform: scale(1.3);
    filter: brightness(50%);
}
.IslamicSec2{
    height: 100;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.IslamicSec2 .ismalmicI{
    width: 500px;
    height:30%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.336) ;
    transition: 0.5s;
}

.IslamicSec2 .ismalmicI:hover{
    background-image: url(images/RCOY.webp);
    filter: brightness(50%);
}
@media screen and (max-width: 600px){
    .SEC1 .ismalmicI{
        width: 300px;
        height: 80px;
    }
    .SEC1 .ismalmicI #nOne{
        display: none;
    }
    .SEC1 .ismalmicI #ntwo{
        display: inline-block;
    }
    .SEC1 img{
        width:170px;
        height: 100px;
        transition: 0.5s;
    }
    .IslamicSec2 .ismalmicI{

        width: 250px;
    }
    .WhatEvents h1{

        font-size: 30px;
        
    }
    .WhatEvents h3{
        font-size: 15px;
    }
}
/* .SEC1 #item1{

    display: flex;
}
.SEC1 #item2{

    display: flex;
} */

.Porjects{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
.Porjects h1{
    font-size:55px;
}
.Porjects h3{
    font-size:30px;
}
.Porjects img{
    width:26vw;
    height: 430px;
    border-radius: 7px;
    object-fit: cover;
    scroll-snap-align: start;
    pointer-events: none;
    transition: all 0.1s;
    border: solid black 1px;
    box-shadow:3px 3px 10px black;

}
.Porjects .img2{
    transition: all 0.1s;

}
@media screen and (max-width: 800px){
    .Porjects img{
        width:26vw;
        border-radius: 7px;
    }
}
.ProjCont{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    white-space:nowrap;
    column-gap: 20px;
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    overflow-y: visible;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: X mandatory;
    height: 40vw;
    align-items: center;
    transition: all 0.5s;
}
.ProjCont:active{
    cursor: grabbing;
    scroll-snap-type: none;
    scroll-behavior:unset;  
}

.yarbN5ls{
    font-size: 3em;
    scroll-behavior: smooth;

}

/* .yarbN5ls .fa-solid.fa-arrow-left{
    position: relative;
    top:100%;
    right:44vw;
    cursor: pointer;
}
.yarbN5ls .fa-solid.fa-arrow-right{
    position: relative;
    top:-340px;
    right:-44vw;
    cursor: pointer;
} */

.ProjCont .img2 img:hover, .ProjCont .img2 a:hover img{    
    transform: scale(1.1);
    filter: brightness(70%);
        
    }
    @media screen and (max-width: 900px){
        .ProjCont{
            height: 70vw;
        }
    }
@media screen and (max-width: 600px){
    .Porjects h1{
        font-size:30px;
    }
    .Porjects h3{
        font-size:20px;
    }
    .Porjects img{
        width:38vw;
        height: 200px;
        border-radius: 7px;
    
    }
    .yarbN5ls .fa-solid.fa-arrow-left{
        position: relative;
        top:164px;
        right:46vw;
    }
    .yarbN5ls .fa-solid.fa-arrow-right{
        position: relative;
        top:-162px;
        right:-46vw;
    }
    .yarbN5ls{
        font-size: 1.5em;
        scroll-behavior: smooth;
    
    }
}
.ContactUs{
    margin: 100px 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ContactUs form{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:65vw;
    row-gap: 40px;
}
.ContactUs form input{
    width:400px;
    height: 40px;
    row-gap: 20px;
}
.ContactUs form label{
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .ContactUs form input{
        width:300px;
        height: 40px;
        row-gap: 20px;
    }
}
.footer{
    background:var(--darkOragneColor);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(254, 254, 254);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:var(--oragneColor);
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }


.colorChanger{
    position: fixed;
    right: -320px;
    width: 380px;
    height: 50px;
    background-color:rgba(33, 33, 33, 0.537);
    box-shadow: 2px 2px 9px black;
    z-index: 5;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 6px;
    transition: all 0.5s;
}
.colorChanger .color{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #555555;
    cursor: pointer;
}
.colorChanger .color:active{
    cursor: grabbing;
}
.fa-solid.fa-gear{
        position: relative;
        scale: 2.4;
        right: 8px;
        cursor: pointer;
        animation-name:none ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}
@keyframes rotate{
    100%{transform: rotateZ(360deg);}
}
@media screen and (max-width: 340px){
    .colorChanger{
        position: fixed;
        right: -280px;
        width: 320px;
        height: 50px;
    }
    .colorChanger .color{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #555555;
    }
    .fa-solid.fa-gear{
        position: relative;
        scale: 2;
        right: 0px;
}
}